.navbar-brand {
  padding: 0px;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
 .navbar-brand>img {
  margin-top: 30px;
        margin-left: 5px;
}

.navbar-fixed-top .nav {
    padding: 10px 0;
}

.navbar-text {
font-size: 30
}