
<div class="container-fluid">
    <div class="center-block" style="width:500px;">
        <div class="panel panel-primary" style="border-color: #92daf4;">
            <div class="panel-heading" style="background-color: #92daf4;">
                <div class="center-align">
                    <h4>Update Paper</h4>
                </div>
            </div>
            <div class="panel-body">
<div class="card card-block paper-active">
    <h4 class="card-title">{{ paper.title }}</h4>
    <p class="card-text">{{ paper.abstract }}</p>
    <p class="card-text">(version
        {{ paper.version }} | last updated on {{ paper.submission_date }})</p>
    <a href="/papers/{{ paper.id }}/update" class="btn btn-primary">Update</a>
</div>