<div class="container-fluid">
    <div class="center-block" style="width:500px;">
        <div class="panel panel-primary" style="border-color: #92daf4;">
            <div class="panel-heading" style="background-color: #92daf4;">
                <div class="center-align">
                    <h4>Update Paper</h4>
                </div>
            </div>
            <div class="panel-body">
<div class="card card-block">
    <form action="" method="post" enctype="multipart/form-data">
        <table>
            {% csrf_token %}
            <tbody>
            <tr>
                <td><p><label for="id_file">File:</label></p></td>
                <td><p><input id="id_file" name="file" type="file"></p></td>
                <td></td>
            </tr>

            <tr>
                <td><p><label for="id_title">Title:</label></p></td>
                <td><p><input id="id_title" maxlength="255" name="title" type="text" value="{{ paper.title }}"></p></td>
                <td></td>
            </tr>

            <tr>
                <td><p><label for="id_abstract">Abstract:</label></p></td>
                <td><p><textarea cols="40" id="id_abstract" maxlength="1000" name="abstract" rows="10">{{ paper.abstract }}</textarea></p>
                </td>
                <td></td>
            </tr>

            </tbody>
        </table>
        <input type="submit" class=" btn btn-success" value="Save"/>
    </form>
</div>